# Download and export LEI-ISIN mapping data

In [1]:
from lei_isin import download_and_extract_zip, bulk_insert_data

### Download LEI to ISIN mapping file

Source of the data [here](https://www.gleif.org/en/lei-data/lei-mapping/download-isin-to-lei-relationship-files)

This will download a file in the **../../data** directory

### Make the API request

In [2]:
api_url = "https://mapping.gleif.org/api/v2/isin-lei/b9d9d56f-19c6-4252-b0b5-f03e3e985aee/download"
isin_to_lei_dataframe = download_and_extract_zip(api_url)

CSV file 'lei-isin-20240416T070219.csv' extracted successfully.

### Show sample data

In [3]:
isin_to_lei_dataframe.head()

                    LEI          ISIN
0  001GPB6A9XPE8XJICC14  US3158052262
1  00EHHQ2ZHDCFXJCPCL46  US92204Q1031
2  00KLB2PFTM3060S2N216  US4138382027
3  00KLB2PFTM3060S2N216  US4138385749
4  01ERPZV3DOLNXY2MLB90  US531554AA10

### Export data to database

In [4]:
bulk_insert_data(isin_to_lei_dataframe)

Successfully inserted 7362559 rows into the 'lei_isin' table!