# Download and export a sample of LEI identifiers

In [1]:
from lei import parse_lei_records, fetch_lei_records, insert_data_into_db

### Fetch the first 10 pages from the API (each page contains 200 LEIs)

For details on the API functionality, check the official [documentation](https://documenter.getpostman.com/view/7679680/SVYrrxuU?version=latest#b9cccb8a-e065-4708-973d-1396ff419d0c)

In [2]:
lei_records = []
for page in range(1,11):
    lei_records.extend(fetch_lei_records(page_number=page))

### Parse the JSON data into a DataFrame

In [3]:
df = parse_lei_records(lei_records)
df.head()

,lei,legal_name,jurisdiction,category,status,legal_form_id,legal_address_city,legal_address_country,legal_address_postal_code,headquarters_city,headquarters_country,headquarters_postal_code
0,984500C1FAC76C888735,E-STOCK SRL,IT,GENERAL,ACTIVE,OV32,RESANA,IT,31023,RESANA,IT,31023
1,98450063C4ND8D136G79,BROADSTREET INC.,US-DE,GENERAL,ACTIVE,XTIQ,WILMINGTON,US,19808,Greenville,US,29601
2,984500EE88BC4D75D081,FORKLIFT NETWORK SG PTE. LTD.,SG,GENERAL,ACTIVE,LWXI,Singapore,SG,637434,Singapore,SG,637434
3,984500E5EB0B4CF37574,SHREEJI CHIKKI AND SNACKS,IN,GENERAL,ACTIVE,A0PS,Nagpur,IN,442701,Nagpur,IN,442701
4,98450058FD003FDR3A48,VEDANT TRADELINK PRIVATE LIMITED,IN,GENERAL,ACTIVE,YSP9,AHMEDABAD,IN,380007,AHMEDABAD,IN,380007

### Insert data into the database

In [4]:
insert_data_into_db(df)

Successfully inserted 2000 rows into the 'lei' table!